@import url("https://fonts.googleapis.com/css?family=Fredoka+One|Nunito:400,700");
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  color: #060e19;
  font-size: 16px;
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  overflow-x: hidden; }
  @media (max-width: 600px) {
    body {
      font-size: 14px; } }
  @media (max-width: 1500px) {
    body {
      font-size: 18px; } }

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", "Helvetica Neue", sans-serif;
  font-weight: bolder; }

/* Selection */
::-moz-selection {
  text-shadow: none;
  background: #0666ff;
  color: #ffffff;
  text-shadow: 10px 10px 10px rgba(27, 27, 27, 0.1); }

::selection {
  text-shadow: none;
  background: #0666ff;
  color: #ffffff;
  text-shadow: 10px 10px 10px rgba(27, 27, 27, 0.1); }

img::-moz-selection {
  background: transparent; }

img::selection {
  background: transparent; }

img::-moz-selection {
  background: transparent; }

#notification {
  background-color: #ffb61e;
  border: none;
  color: #1b1b1b;
  z-index: 9999;
  position: fixed;
  max-width: 960px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.29);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.29); }
  @media (max-width: 840px) {
    #notification {
      display: none; } }
  #notification .alert-link {
    color: #1b1b1b; }

.notification-killer {
  display: none !important; }

.block-container {
  max-width: 960px;
  margin: 0 auto; }

#hero {
  width: 100%;
  min-height: 120vh;
  text-align: center;
  align-items: center;
  padding-top: 220px;
  background-color: #0666ff;
  background-image: url("../img/hero_bg.svg");
  background-repeat: none;
  background-size: contain;
  background-position: bottom;
  background-attachment: fixed;
  -webkit-clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  clip-path: polygon(100% 0, 100% 85%, 50% 100%, 0 85%, 0 0);
  -webkit-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.29);
  -moz-box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.29);
  box-shadow: inset 0px 0px 20px 0px rgba(0, 0, 0, 0.29); }
  @media (max-width: 650px) {
    #hero {
      padding-top: 70px;
      min-height: 300px; } }
  @media (min-width: 1550px) {
    #hero {
      padding-top: 70px;
      min-height: 700px; } }
  #hero #logo {
    width: 80%;
    max-width: 750px;
    margin-bottom: 30px; }

#intro {
  padding: 60px 0;
  text-align: justify;
  background-color: #ffffff; }
  #intro .lead {
    padding-left: 20px; }
    #intro .lead h2 {
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      font-weight: 900; }
  #intro #portada {
    -webkit-box-shadow: 0px 0px 40px 0px rgba(39, 104, 246, 0.5);
    -moz-box-shadow: 0px 0px 40px 0px rgba(39, 104, 246, 0.5);
    box-shadow: 0px 0px 40px 0px rgba(39, 104, 246, 0.5); }
  #intro .elemento {
    text-align: center; }
    @media (max-width: 780px) {
      #intro .elemento {
        margin-bottom: 40px; } }
    #intro .elemento .icon {
      max-width: 200px;
      width: 80%;
      margin-bottom: 20px; }
    #intro .elemento .title {
      font-weight: bold;
      font-size: 120%;
      margin-bottom: 5px; }
    #intro .elemento .info {
      font-weight: lighter; }

#autor {
  padding: 60px 0;
  text-align: justify;
  background-color: #fafafa; }
  #autor .link {
    color: #0666ff;
    transition: 0.3s;
    font-weight: bold; }
    #autor .link:hover {
      text-decoration: none !important;
      color: #060e19; }
  #autor .lead {
    padding-left: 20px; }
    #autor .lead h2 {
      margin: 0;
      margin-bottom: 10px;
      padding: 0;
      font-weight: 900; }
  #autor #profile {
    width: 100%;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(18, 20, 31, 0.5);
    -moz-box-shadow: 0px 0px 40px 0px rgba(18, 20, 31, 0.5);
    box-shadow: 0px 0px 40px 0px rgba(18, 20, 31, 0.5); }

@media (max-width: 780px) {
  #profile, #portada {
    max-width: 200px;
    margin-bottom: 20px; } }
#cta {
  padding: 60px 0;
  text-align: center;
  background-color: #0666ff;
  color: #ffffff; }
  #cta .lead h2 {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-weight: 900; }
  #cta .lead #cta-btn {
    display: inline-block;
    margin-top: 10px;
    background-color: #ffffff;
    color: #0666ff;
    border: 1px solid #ffffff;
    padding: 20px 80px;
    border-radius: 250px;
    -webkit-box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.5);
    -moz-box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 40px 0px rgba(255, 255, 255, 0.5);
    transition: 0.3s; }
    #cta .lead #cta-btn:hover {
      transform: scale(1.1);
      text-decoration: none; }

#footer {
  text-align: center;
  background-color: #fafafa;
  padding: 20px; }
  #footer .link {
    color: #0666ff;
    transition: 0.3s;
    font-weight: bold; }
    #footer .link:hover {
      text-decoration: none !important;
      color: #060e19; }

/*# sourceMappingURL=main.css.map */
