// Intro Section
#intro
    padding: 60px 0
    text-align: justify
    background-color: $white-c

    .lead
        padding-left: 20px

        h2
            margin: 0
            margin-bottom: 10px
            padding: 0
            font-weight: 900

    #portada
        -webkit-box-shadow: 0px 0px 40px 0px rgba(39,104,246,0.50)
        -moz-box-shadow: 0px 0px 40px 0px rgba(39,104,246,0.50)
        box-shadow: 0px 0px 40px 0px rgba(39,104,246,0.50)

    .elemento
        text-align: center

        @media (max-width: 780px)
            margin-bottom: 40px

        .icon
            max-width: 200px
            width: 80%
            margin-bottom: 20px

        .title
            font-weight: bold
            font-size: 120%
            margin-bottom: 5px

        .info
            font-weight: lighter

#autor
    padding: 60px 0
    text-align: justify
    background-color: $grey-c

    .link
        color: $primary-c
        transition: .3s
        font-weight: bold

        &:hover
            text-decoration: none !important
            color: $black-c

    .lead
        padding-left: 20px

        h2
            margin: 0
            margin-bottom: 10px
            padding: 0
            font-weight: 900

    #profile
        width: 100%
        border-radius: 50%
        -webkit-box-shadow: 0px 0px 40px 0px rgba(18, 20, 31,0.50)
        -moz-box-shadow: 0px 0px 40px 0px rgba(18, 20, 31,0.50)
        box-shadow: 0px 0px 40px 0px rgba(18, 20, 31,0.50)

@media (max-width: 780px)
    #profile, #portada
        max-width: 200px
        margin-bottom: 20px

#cta
    padding: 60px 0
    text-align: center
    background-color: $primary-c
    color: $white-c

    .lead

        h2
            margin: 0
            margin-bottom: 10px
            padding: 0
            font-weight: 900

        #cta-btn
            display: inline-block
            margin-top: 10px
            background-color: $white-c
            color: $primary-c
            border: 1px solid $white-c
            padding: 20px 80px
            border-radius: 250px
            -webkit-box-shadow: 0px 0px 40px 0px rgba(255, 255, 255,0.50)
            -moz-box-shadow: 0px 0px 40px 0px rgba(255, 255, 255,0.50)
            box-shadow: 0px 0px 40px 0px rgba(255, 255, 255,0.50)
            transition: .3s

            &:hover
                transform: scale(1.1)
                text-decoration: none

#footer
    text-align: center
    background-color: $grey-c
    padding: 20px

    .link
        color: $primary-c
        transition: .3s
        font-weight: bold

        &:hover
            text-decoration: none !important
            color: $black-c
